---
layout: default
permalink: bibliotecas
---

<section>
  <h1>Lista de bibliotecas confinadas</h1>

  <p>
      ¿Quieres sumar la tuya? Puedes hacerlo siguiendo estos pasos técnicos <a href="{{ site.url }}/2020/03/21/calibre.html">(DOC)</a> y luego escribiéndonos como te contamos <a href="{{ site.url }}/2020/03/20/agregar-mi-biblioteca.html">(ACÁ)</a><br></br>

      Si vas a alguna biblioteca y no funciona tal vez es porque se ha ido la luz en la casa, la persona que la gestiona ha querido dar un descanso a la compu/Raspberry Pi o también porque quiere darle un respiro al consumo de energía, que no está de más.
  </p>
</section>

<section>

  <h2>Bibliotecas</h2>

  <div class="grid t-hackcss-cards">

    {% for project in site.projects %}

    <div class="cell -6of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ project.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if project.image %}
            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                 alt="{{ project.name }}"
                 title="{{ project.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ project.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
                 {{ project.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
