---
layout: default
---

<div>

  <section>
    <h1>Librevirus.cc</h1>
    <h2>Bibliotecas confinadas.</h2>
  </section>

  <section>
    <p> <blockquote><h3>CONFINAR:</h3>
        "Deriva del vocablo clásico <i>confinis</i> (contiguo, vecino, que comparte un límite común) o del sustantivo <i>confinium</i> (límite común a dos terrenos). Estos vocablos se forman con el prefijo latino con- (conjuntamente, idea de encuentro, comunidad o cosa compartida) y el sustantivo <i>finis</i> (límite, frontera, fin, final, confín). De ahí fin, final, finítimo, afinidad, definir, etc." --> <a href="http://etimologias.dechile.net/?confinar">Etimologías de Chile</a>
        </blockquote>

        En tiempos de encerramiento global, abrirse a compartir se convierte en uno de los actos más naturales. Mientras que las personas nos quedamos en casa, los bits siguen fluyendo de forma torrencial a través de los cables y las redes.

        <i>¿Dónde viven los datos? ¿Dónde estoy cuando entro en una web? ¿Quién puso esa información ahí</i> Preguntas que se agolpan ahora que estamos conectados a la red con una constancia aún mayor que antes.<br> </br>

        Si la nube es la computadora de otra persona,<strong>Librevirus</strong> es el contagio de la hospitalidad dejando entrar en nuestras casas digitales a todas las personas que lo deseen. Porque cuando entramos a una web, en realidad entramos a una casa; y todas las bibliotecas que veas aquí están hospedadas dentro de las casas de quienes las crearon, ni en servidores externos ni con empresas que vigilarán tus pasos.<br> </br>

        Librevirus es un repositorio orgánico de librerías libres creadas por cualquier persona que tiene ganas de aprender a hacer cosas por sí misma y el deseo de compartir lo que tiene para hacerse más rica.<br> </br>

        Ya tengas una RaspberryPi, un ordenador/computadora, conexión a Internet, curiosidad por saber cómo hacer un repositorio propio, ganas de tocar aquí y allá, romper cosas, arreglarlas, volver a romperlas y arreglarlas con otras personas, libros que te apetece compartir y un poco de tiempo… entonces crea tu propio Librevirus, o simplemente, disfruta de los que encuentras aquí.<br> </br>

        Pasa, quítate las zapatillas al entrar y acomódate en este vecindario de bibliotecas (y personas) confinadas.

    </p>
  </section>

  <section>
    <h2>Podés comenzar por aquí!</h2>
    <p>
      si querés armar una, <a href="{{ "/docs.html" | prepend: site.baseurl }}">esta</a> es la documentación.
    </p>
  </section>
</div>
