<footer>
  <hr />

  <h3 class="footer-heading">{{ site.title }}</h3>

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -5of12">
      <div class="contact-list">
        <p>
          {{ site.your_name }},
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>

        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
            <p>contenido licenciado con <a href="https://endefensadelsl.org/ppl_deed_es.html">PPL</a></p>
            <p>template de <a href="https://wemake.services/jekyll-theme-hackcss/">jekyll</a></p>
          </span>
        {% endfor %}
      </div>
    </div>

    <div id="footer-spacer" class="cell -1of12"></div>

    <div class="cell -6of12">
      <p>{{ site.description }}</p>
      <p>Librevirus ha sido gestado en el laboratorio sinestésico de <a href="https://copiona.com">librenauta</a> y destilado con <a href="https://www.nodocomun.org">Nodo Común</a> en el <a href="https://www.clubmanhattan.rocks">Club Manhattan</a></p>
    </div>
  </div>

</footer>
