<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="favicon.ico" href="{{ site.url }}/favicon.ico">
  <!-- Meta information -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <!-- hack.css
  <link rel="stylesheet" href="https://npmcdn.com/hack/dist/hack.css" />
  {% if site.theme_mode == 'standard' %}
  <link rel="stylesheet" href="https://npmcdn.com/hack/dist/standard.css" />
  {% elsif site.theme_mode == 'dark' %}
  <link rel="stylesheet" href="https://npmcdn.com/hack/dist/dark.css" />
  {% endif %}
 -->
  <!-- Custom style -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/hack.css" | prepend: site.baseurl }}" />
  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
        href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Add seo with 'jekyll-seo' plugin! -->
</head>
