// This file only deal with code highlighting

code.highlighter-rouge {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 100%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
